---
layout: default_app
---
<article class="app">

  <header class="app-header">
    <h1 class="app-title">{{ page.title | escape }}</h1>
  </header>

  <div class="app-content">
    <div class="organizations">
      <h3>Orgs</h3>
      <ul id="org_list">
        <li><a href="#netflix">Netflix</a></li>
        <li><a href="#twitter">Twitter</a></li>
      </ul>
    </div>
    <div class="grid">
      <div class="col-1-3 repos">
        <h3>Repos</h3>
        <ul id="repo_list"><li>none</li></ul>
      </div>
      <div class="col-2-3 commits">
        <h3>Commits</h3>
        <ul id="commits_list" class="commit-group"><li>none</li></ul>
      </div>
    </div
  </div>

</article>
