---
layout: default_app
---
<article class="app">

  <header class="app-header">
    <h1 class="app-title">{{ page.title | escape }}</h1>
  </header>

  <div class="app-content">
    <section class="org-search grid" id="org_search">
      <div class="col-1-3"><input type="text" class="medium find-by-name" placeholder="Enter an org name"></div>
      <div class="col-2-3 current-organization">Netflix</div>
    </section>
    <div class="grid">
      <div class="col-1-3 repos">
        <h3>Repos</h3>

        <ul id="repo_list"></ul>
      </div>
      <div class="col-2-3 commits">
        <h3>Commits</h3>
        <ul id="commits_list" class="commit-group"></ul>
      </div>
    </div
  </div>

</article>
